<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brauen Black</title>
    <link rel="stylesheet"   href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="styles5.css">


</head>
<body>
<div class="container">
    <div class="container-top">
        <div class="ct-left">
                <span class="material-symbols-outlined title-icon">
                    menu_book
                    </span>
                <span class="title-text">
                    Mamoun
                </span>
        </div>
        <div class="ct-middle">
            <span class="title-text title-text2">
                    classes
                </span>
        </div>
        <div class="ct-right">
            <span class="material-symbols-outlined title-icon">
                    more_vert
                    </span>
        </div>
    </div>
    <div class="container-Class">
        <div class="class-item">
            <div class="cim-top">A</div>
            <div class="cim-bottom">Abdelrehman</div>
        </div>
        <div class="class-item">
            <div class="cim-top">A</div>
            <div class="cim-bottom">Abdelrehman</div>
        </div>
        <div class="class-item">
            <div class="cim-top">A</div>
            <div class="cim-bottom">Abdelrehman</div>
        </div>
        <div class="class-item">
            <div class="cim-top">A</div>
            <div class="cim-bottom">Abdelrehman</div>
        </div>
        <div class="class-item">
            <div class="cim-top">A</div>
            <div class="cim-bottom">Abdelrehman</div>
        </div>
        <div class="class-item">
            <div class="cim-top">A</div>
            <div class="cim-bottom">Abdelrehman</div>
        </div>
        <div class="class-item">
            <div class="cim-top">A</div>
            <div class="cim-bottom">Abdelrehman</div>
        </div>
        <div class="class-item">
            <div class="cim-top">A</div>
            <div class="cim-bottom">Abdelrehman</div>
        </div>
    </div>
</div>
</body>
</html>